# Dependencies
node_modules

# Local env files
.env
.env.local
.env.*.local

# Testing
coverage

# Turbo
.turbo

# Build Outputs
dist
apps/web/public/styles.css

# Debug
npm-debug.log*

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/crash.log

# Misc
.DS_Store
*.pem
